.container{
    margin-top: 60px;
}

.navbar{
    height:100px;
}


.navbar-brand {
    background-color: turquoise;
    width:200px;
    text-align: center;
    color: white;
}

.nav-link:hover {
    background-color: rgb(238, 238, 238);
    color:black;
}

.white {
    color:white;
}